
/* Next, we’ll horizontally and vertically center the page contents. Plus, we’ll give some styles to the button responsible for opening the modal: */
* {
  box-sizing: border-box;
}
body{
  /* display: block; */
  /* position: absolute; */
  /* margin: 0px auto; */
  /* padding: 10px; */
  /* box-sizing: border-box; */

}
main {
  display: grid;
  /* overflow: auto; */
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  grid-template-areas:
      'a b'
      'c c';
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

header {
  grid-area: a;
  position: relative;
}

form {
  grid-area: b;
  position: relative;
}

.container {
  grid-area: c;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
}
button {
  font-size: 20px;
  height: 50%;
  padding: 20% auto;
}

ul {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
}
li {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  flex-direction: column;
  width: 20vw;
}

.name{
  display: flex;
  align-content: flex-start;
  text-align: center;
}
.thum-img {
  max-height: 100px;
  max-width: 100px;
}
 
.venus-lips {
  float: right;
  max-height: 80vh;
}
.inputField {
  font-size: 20px;
  padding: 20% auto;
  margin: 20% auto;
}
/* Modal Content/Box */

.result-container {
  display: none;
  position: fixed; /*Stay in place */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 1; /* Sit on top */
  width: 70%; /* Full width */
  height: 90%; /* Full height */
  overflow: auto; /*Enable scroll if needed*/
  background-color: white; /* Fallback color */
  border: 3px solid black;
  padding: 20px;

    /* display: flex; */
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
  }

#modal-dialogue {
  background: white;
  border: 1px solid black;
  border-radius: 9px;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
  width: 100%;
  max-width: 300px;
  /* align-items: center;  */
  /* background-color: #fefefe;*/
  margin: 0 auto; /*15% from the top and centered
  border: 1px solid #888; */ 
  /* max-width: 80%; Could be more or less, depending on screen size */
  }
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


@media screen and (max-width: 992px) {
  main {
    width: 60%;
    margin: 0 auto;

  }
.result-container{
width: 60%;
}
}
@media screen and (max-width: 768px) {
  main {
    width: 50%;
    margin: 0 auto;

  }
}
@media screen and (max-width: 490px) {
  main {
    max-width: 100%;
    margin: 0 auto;
  } 

}  

/* @media screen and (max-width: 400px) {
  body {
    max-width: 100%;
    margin: 0 auto;
  }
} */